parameters:
	excludes_analyse:
		- %rootDir%/../../../tests/tmp/**/*
	ignoreErrors:
		- '~Call to an undefined static method Nette\\Application\\UI\\Control::__construct\(\)~'
		- '~Call to function is_array\(\) with Nette\\PhpGenerator\\ClassType will always evaluate to false~'

includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-doctrine/extension.neon
